[submodule "extern/sdsl-lite"]
	path = extern/sdsl-lite
	url = git@github.com:ByteHamster/sdsl-lite.git
[submodule "extern/ips2ra"]
	path = extern/ips2ra
	url = git@github.com:ips4o/ips2ra.git
[submodule "extern/pasta"]
	path = extern/pasta
	url = git@github.com:kurpicz/pasta.git
