[submodule "extern/ips2ra"]
	path = extern/ips2ra
	url = git@github.com:ips4o/ips2ra.git
[submodule "extern/lz4"]
	path = extern/lz4
	url = git@github.com:lz4/lz4.git
[submodule "extern/util"]
	path = extern/util
	url = git@github.com:ByteHamster/Util.git
